input[type="text"],input[type="number"]  {
	text-transform: uppercase;
	width:auto;
}

.navbar{
    background-color: red;
    border-color: black;
}

.feedTitle{
	margin-left:10%;
}

.table-responsive {
	width:auto;
}

#repeatSelect
{
	width:auto;
}

#alert
{
	margin-top: 100px;
}

#repeatSelect{
	width:30%;
}

.playbill {
	float:left;
}

.plotContainer{
	margin-left: 150px;
	float:left;
	margin-right: auto;
}

.plot{
	width:500px;
}

#feedContainer{
	width: 80%;
	height: auto;
	margin-left:10%;
	font-size:5%;
}

#feedContainer p{
	font-size:medium;
}



#feedContainer table{
	display: none;
}



#feedContainer p img{
	width: 50%;
	height: 50%;
}

#feedContainer p:nth-last-child(1),
#feedContainer p:nth-last-child(2),
#feedContainer p:nth-last-child(3){
	display:none;
}


.viewFilm{
	margin-left:10%;
}

.viewFilm img{
	height: 200px;
	width: 150px;
}

.collapse{
	width: auto;
}

#paginator{
	position:relative;
	margin-top:30%;
}
