input[type="text"],input[type="number"]  {
	text-transform: uppercase;
	width:150px;
}

.navbar{
    background-color: red;
    border-color: black;
}

.table-responsive
{
	width:auto;
}

#repeatSelect
{
	width:auto;
}

#alert
{
	margin-top: 100px;
}

#repeatSelect{
	width:30%;
}

.playbill {
	float:left;
}

.plotContainer{
	margin-left: 150px;
	float:left;
	margin-right: auto;
}

.plot{
	width:500px;

}

#feedContainer{
	width: 80%;
	height: auto;
	margin-left:10%;
	font-size:5%;
}

#feedContainer p{
	font-size:medium;
}

#feedContainer img{
	width: 50%;
	height: 50%;
}


#viewAll
{
	margin-left:10%;
}

#viewAll img{
	max-height: 200px;
}

