<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{film.title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <div class="md-dialog-content">
            <md-dialog-content>
                    <table class="table">
                        <tr>
                           <td>
                               <label> Regia: </label>
                               {{film.director}}
                           </td>
                            <td>
                                <label> Durata: </label>
                                {{film.running_time}}
                            </td>
                            <td>
                                <label> Lingua: </label>
                                {{film.lang}}
                            </td>
                            <td>
                                <label> Sorgente: </label>
                                {{film.source}}
                            </td>
                        </tr>
                    </table>
            </md-dialog-content>
        </div>
        <div class="md-dialog-content">
            <md-dialog-content>
                {{film.desc}}
            </md-dialog-content>
        </div>
</md-dialog>